<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="news-content">

  <div *ngIf="cargando" class="loader">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando noticias...</p>
  </div>

  <div class="news-container">
    <ion-card *ngFor="let n of noticias" class="news-card">

      <img 
        [src]="n.urlToImage || 'assets/no-image.png'" 
        (error)="onImgError($event)"
      />

      <ion-card-header>
        <ion-card-title>{{ n.title }}</ion-card-title>
        <ion-card-subtitle>{{ n.author || 'Fuente desconocida' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ n.description }}

        <div class="btn-container">
          <a [href]="n.url" target="_blank" class="btn-read">
            Leer más →
          </a>
        </div>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>